@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');


.text {
    height: 20vh;
    width: 50%;
    border: 3px solid red;
    padding: 20px;
}

.text h1 {
    color: blue;
    text-align: center;
    text-decoration: line-through;
    text-transform: lowercase;
    text-shadow: 2px 2px 5px red ;
    letter-spacing: -1px;
    line-height: 1;
}

.text p {
    font-family: 'Water Brush', cursive;
    font-size: 20px;
    font-weight: bolder;
    font-style: normal;
}

.links a {
    text-decoration: none;
    color: red;
    padding: 10px;
    text-transform: uppercase;
    display: block;
    /* display: none; */
    visibility: hidden;
}

.lists li {
    list-style-type: none;
    display: inline;
    /* display: none; */
}

.tables table, td, th {
    border: 1px solid red;
    border-collapse: collapse;
}

.tables table {
    height: 20vh;
    width: 50%;
}

.tables td {
    text-align: center;
    
}

.tables th {
    padding: 10px;
    color: red;
    background-color: black;
}

.tables tr:nth-child(even) {
    background-color: aquamarine;
}