@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


.fonts {
    border: 1px solid red;
    width: fit-content;
    padding: 20px;
    font-family: 'Koulen', cursive;
}

.fa-facebook {
    font-size: 40px;
    color: yellowgreen;
}

.links a {
    text-decoration: none;
    color: red;
    padding: 10px;
    display: block;
    text-transform: uppercase;
}

.lists li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.tables table,th,td {
    /* border: 1px solid red; */
    /* border-collapse: collapse; */
}

.tables table {
    height: 200px;
    width: 100%;
}

.tables td {
    text-align: center;
     /* background-color: greenyellow; */
     color: black;
}

.tables th {
    padding: 10px;
    background-color: black;
    color: red;
}

.tables tr:nth-child(even) {
    background-color: greenyellow;
}